page-discovery {

  .discoveryimg{
    height:150px ;
    width: 100%;
  }
  //.celliocn{
  //  height: 18px;
  //  width: 18px;
  //}
  //span{
  //  margin-left: 5px;
  //}
  .ionrow{
    background-color:white ;
    margin: 5px 5px 0 5px ;
    height: 80px;
  }
  ion-col{
    background-color:white ;
    height: 80px;
    padding-top:0px;
  }
  .ioncol{
    border-width: 1px;
    border-style: solid;
    border-color: #f2f2f2;
  }
  .imgtitle{
    width: 35px;
    height: 35px;
    margin-top: 10px;
    margin-left: 10px;
  }
  .explainlabel{
    font-size: 12px;
    color: gray;
  }
  .servicelabel{
    font-size: 16px;
    color: orange;
    text-align: center;
    height: 40px;
    margin-top: 5px;
  }
}
