page-mine {
  .hlong *{display:inline-block;vertical-align:middle}
  //.discoveryimg{
  //  height:25% ;
  //  width: 100%;
  //}
  .celliocn{
    height: 18px;
    width: 18px;
  }
  span{
    margin-left: 5px;
  }
}
